.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.h2-title {
    text-align: center;
    padding: 50px 16px 22px;
    font-size: 20px;
    line-height: 29px;
    color: #333;
    letter-spacing: -0.05em;
    font-weight: 700;
}

.badge {
    position: absolute;
    right: 0;
    top: 0;
    width: 16%;
    min-width: 38px;
}


.fontB {
    font-weight: 700;
}

.t-orange {
    color: #ee5728;
}



.all-link-btn { 
    display: block; 
    padding: 0 38px; 
    margin: 0 38px; 
    margin-bottom: 45px; 
    height: 52px; 
    line-height: 52px; 
    border: 1px solid #e0e0e0; 
    background: #fff; 
    color: #222; 
    font-size: 15px; 
    font-weight: 500; 
    text-align: center; 
}
.all-link-btn::after { 
    display: inline-block; 
    width: 19px; height: 19px; 
    background: url(../image/arrow_right.png) no-repeat; 
    background-size: cover; 
    content: ''; 
}



.product-list {}
.product-list .product-item{ }

.product-list.first-list{ 
    display: none; 
    flex-wrap: wrap; 
    gap: 10px;
}

.product-list.first-list.on {
    display: flex;
}
.product-list.first-list .product-item{ 
    width: calc(50% - 5px); 
    margin-bottom: 50px; 
}

.product-list.sec-list {
    padding: 0 16px;
}
.product-list.sec-list .product-item a{
    padding: 20px 0;
    display: flex;
}
.product-list.sec-list .product-item+.product-item {
    border-top: 1.5px solid #eee;
}

.product-list.sec-list .product-item .img-box {
    width: 110px;
    padding-bottom: 0;
    height: 164px;
}
.product-list.sec-list .product-item .txt-box {
    padding: 0 28px;
    flex: 1;
}





.product-list .product-item .img-box{
    position: relative;
    padding-bottom: calc((354/236)*100%);
    background: #f00;
}

.product-list .product-item .img-box > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    object-fit: cover;
}
.product-list .product-item .img-box .rank {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 29px;
    line-height: 30px;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.product-list .product-item .img-box > img{
    width: 100%;
    height: 100%;
}
.product-list .product-item .icon-box{ 
    position: absolute; 
    top: 0;
    right: 0; 
    width: 20%; 
    min-width: 40px;
 }


/* 상품정보 */

.product-list .product-item .txt-box {
    padding: 15px 5% 0;

}
.product-list .product-item .txt-box .review{
    display: block;
    font-size: 13px;
    line-height: 13px;
    font-weight: 600;
    color: #8e1f29 !important;
}
.product-list .product-item .txt-box .product-title {
    margin: 10px 0;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: -0.05em;
    
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}
.product-list .product-item .txt-box .product-price{
    align-items: center;
    display: flex;
}
.product-list .product-item .product-price .price-discount{
    color: #8E1F29;
    font-weight: bold;
    margin-right: 4px;
    font-size: 14px;
}
.product-list .product-item .product-price .price-sale{
    color: #333;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: -0.03em;
}
.product-list .product-item .product-price .price-cost{
    font-size: 10px;
    line-height: 18px;
    font-weight: 400;
    color: #8d8d8d;
    margin-left: 3px;
    text-decoration: line-through;
}
.product-list .product-item .text-box{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.product-list .product-item .text-box .add-text{
    margin-top: 5px;
    border: 1px solid rgba(142,31,41,0.5);
    padding: 5px 6px;
    margin-bottom: 5px;
    line-height: 9px;
    font-size: 9px;
    color: #8e1f28;
    font-weight: bold;
    font-weight: 500;
    letter-spacing: -0.05em;
}

/* 상품정보 */

