@import './reset.css';
@import './common.css';



.header {}
.header .header-top {
    position: absolute;
    height: 38px;
    z-index: 10;
    width: 100%;
}
.header .header-top .logo {
    background: url(../image/main-logo.svg) no-repeat;
    background-size: 87px auto;
    width: 87px;
    height: 23px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header.on .header-top {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 10;
    width: 100%;
    background: #fff;
}

.header.on .header-top .logo{
    background: url(../image/main-logo.svg) no-repeat;
    background-size: 87px auto;
    width: 87px;
    height: 23px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 10px;

}

.header.on .header-btm {
    position: fixed;
    display: block;
}
.header-btm {
    display: none;
    position: absolute;
    width: 100%;
    top: 50px;
    z-index: 20;
}
.btm-list {
    margin: 10px 0;
    background: #fff;
    display: flex;
    padding: 11px 0 12px 15px;
}
.btm-item {
    font-size: 16px;
    margin-right: 15px;
    letter-spacing: -0.05em;
}
.btm-item .dot {
    position: relative;
    top: -8px;
    right: -1px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ee5728;
    content: "";
}
.header-btm .btn-more {
    position: absolute;
    right: 10px;
    top: 13px;
    bottom: 0;
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(../image/btn_open_middle_bk.png) no-repeat;
    background-position: center;
}

.header-btm .menu-all {
    display: none;
    font-size: 16px;
    line-height: 23px;
    color: #000;
    width: 100%;
    padding: 11px 16px;
    box-sizing: border-box;
    position: relative;
    background: #fff;
}

.header-btm .gnb-list {
    position: relative;
    display: flex;
    padding: 6px 12px;
    min-height: fit-content;
    flex-wrap: wrap;
    box-sizing: border-box;
    background: #f6f6f6;
    border-top: 1px solid #dcdcdc;
}

.header-btm .gnb-item {
    display: inline-block;
    padding: 8px 17px;
    margin: 3px 3px;
    border: 1px solid #ebebeb;
    border-radius: 100px;
    box-sizing: border-box;
    background: #fff;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    letter-spacing: -0.05em;
}

.header-btm .gnb-item .dot {
    position: relative;
    top: -8px;
    right: -1px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ee5728;
    display: inline-block;
    content: "";
}
.header-btm.active .btn-more {
    transform: rotate(180deg);
}

.group-menu {
    position: fixed;
    top: 0;
    left: -100%;
    padding: 0 16px;
    background-color: #fff;
    overflow: auto;
    overflow-x: hidden;
    width: 81.94%;
    height: 100%;
    font-size: 11px;
    transition: left 0.5s;
    z-index: 100;
}
.group-menu.active {left: 0;}

.group-menu .login-wrap {
    padding: 32px 0 30px;
}

.group-menu .login-area .login-wrap > p {
    color: #777;
    font-weight: 400;
    font-size: 13px;
    padding-top: 28px;
}

.group-menu .login-area .login-wrap .btn-close {
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 16px;
    top: 35px;
    padding: 0 !important;
    font-size: 0;
}

.group-menu .login-area .login-wrap .btn-close::after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;   
    background: url() no-repeat;
    background-size: 100% auto;
    content: "";

}

.category-area {
    display: block;
    padding: 15px 0;
    color: #333;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
}

.category-area .dot {
    position: relative;
    top: -8px;
    right: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ee5728;
    display: inline-block;
    content: "";
}

.category-item {
    position: relative;
}

.show-list {
    display: none;
    height: auto;
    padding-bottom: 15px;
}

.show-item .show-txt {
    display: block;
    padding: 11px 0;
    color: #848484;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.5px;
}

.show {
    position: absolute;
    top: 10px;
    right: 0;
    width: 30px;
    height: 28px;
    margin: 0;
    padding: 0;
    z-index: 50;
    pointer-events: none;
}

.show::after {
    content: "";
    display: block;
    transition-duration: .3s;
    width: 30px;
    height: 28px;
    background: url() no-repeat center/28px auto;
}

.show.active::after {
    transform: rotate(180deg);
}

/* 푸터 */

.footer {
    margin: 0;
    background: #fafafa;
    padding: 40px 16px 40px;
    color: #555;
}
.footer .f-cs {padding-bottom: 30px;}
.footer .f-cs > h3 {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    padding-bottom: 15px; 
}
.footer .f-cs .tel {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    padding-bottom: 10px;
}
.footer .f-cs .hour {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
}