/* 메인 슬라이드 영역 */

.container{}

.sc-main{
    height: calc(100vh - 140px);
    min-height: 400px;
}


.sc-main .swiper {
    height: 100%;
}
.sc-main .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sc-main .swiper-slide a{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
.sc-main .swiper-slide .img-box{
    height: 100%;
}
.sc-main .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sc-main .swiper .swiper-pagination{
    width: 170px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
}
/* .sc-main .swiper .swiper-pagination-bullet{
    margin: 0;
    width: 20px;
    height: 2px;
    background: #fff;
    border-radius: 0;

}
.sc-main .swiper .swiper-pagination-bullet-active{} */


.sc-main .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sc-main .swiper-slide .txt-box {
    position: absolute;
    bottom: 0;
    height: auto;
    padding:90px 40px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    display: block;
}
.sc-main .swiper-slide .txt-box .title {
    font-weight: bold;
    color: #fff;
    line-height: 1.25;
    letter-spacing: -1.3px;
    font-size: 30px;
}
.sc-main .swiper-slide .txt-box .desc {
    font-weight: 400;
    padding-top: 15px;
    font-size: 17px;
    line-height: 1.4;
    letter-spacing: -0.5px;
    color: #fff;
    margin: 0;
}

/* 메인 슬라이드 영역 */

/* 베스트 */

.h2-title {
    font-size: 20px;
    line-height: 29px;
    color: #333;
    letter-spacing: -0.03em;
    font-weight: 700;
}




.sc-product {}
.sc-product .h2-title { 
    padding: 50px 16px 22px;
}
.sc-product .link-more { 
    display: block; 
    padding: 0 38px; 
    margin: 0 38px; 
    margin-bottom: 45px; 
    height: 52px; 
    line-height: 52px; 
    border: 1px solid #e0e0e0; 
    background: #fff; 
    color: #222; 
    font-size: 15px; 
    font-weight: 500; 
    text-align: center; 
}
.sc-product .link-more::after { 
    display: inline-block; 
    width: 19px; height: 19px; 
    background: url(../image/arrow_right.png) no-repeat; 
    background-size: cover; 
    content: ''; 
}

/* 베스트 */

/* 신규회원 쿠폰 */

.sc-coupon {
    margin-top: 0 !important;
    width: 90%;
    min-width: 1200px;
    margin: 60px auto 120px;
}

.sc-coupon .coupon-bnr{
    display: block;
}

.sc-coupon img {
    width: 100%;
}

/* 신규회원 쿠폰 */

/* 룩북 */


.sc-lookbook {
}
.sc-lookbook .group-lookbook+.group-lookbook {
    padding-top: 40px;
}

.sc-lookbook .intro-wrap .img-box img{
    width: 100%;
}
.sc-lookbook .intro-wrap .txt-box{
    display: block;
    padding: 20px 16px 20px;
    position: relative;
}
.sc-lookbook .intro-wrap .txt-box .title{ 
    font-size: 26px;
    line-height: 35px;
    color: #333;
    letter-spacing: -0.03em;
    font-weight: 700;
}
.sc-lookbook .intro-wrap .txt-box .desc{
    padding: 14px 0 28px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.05em;
    color: #333;
    font-weight: 400;
}
.sc-lookbook .intro-wrap .link-view {
    display: inline-block;
    background: #1e1e1e;
    border-radius: 2px;
    border: 1px solid #1e1e1e;
    box-sizing: border-box;
    color: #fff;
    margin-left: 16px;
    padding: 8px 47px 8px 18px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.03em;
    font-weight: 500;
    background-image: url(../image/Icon_move.png);
    background-repeat: no-repeat;
    background-size: 15px auto;
    background-position: calc(100% - 18px) center;
}

/* 룩북 */


/* 브랜드 스토리 */


.sc-brand {
    padding: 20px 0;
}
.sc-brand .inner {
    padding: 56px 20px;
    background-color: #c86733;
    color: #fff;
}

.brand-area .slogan {
    font-size: 18px;
    letter-spacing: -0.5px;
    margin: 0 auto 10px;
    font-weight: 400;
    display: inline-block;
    border-bottom: 1.5px solid #fff;
    padding-bottom: 5px;
    line-height: 1.2;

}
.brand-area .title {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.03em;
    font-weight: 700;
}
.brand-area .desc {
    padding: 10px 0 5px;
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    font-weight: 400;
}
.brand-area .link-more {
    display: inline-block;
    width: 100px;
    margin-top: 20px;
    padding: 10px 0;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.03em;
    font-weight: 500;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #fff;

}


/* 브랜드 스토리 */


