
@font-face {
    font-family: "Gilroy";
    src: url(../font/Gilroy-Regular.woff2) format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: "Gilroy";
    src: url(../font/Gilroy-Medium.woff2) format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: "Gilroy";
    src: url(../font/Gilroy-SemiBold.woff2) format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: "Gilroy";
    src: url(../font/Gilroy-Bold.woff2) format('woff2');
    font-weight: 700;
}


* { margin:0;padding:0;font:inherit;color:inherit; }
*, :after, :before { box-sizing:border-box;flex-shrink:0; }
:root { -webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4 }
html, body { height:100%; line-height: 1;}
img, picture, video, canvas, svg { display: block; max-width:100%; }
button { background:none;border:0;cursor:pointer; }
a { text-decoration:none }
table { border-collapse:collapse;border-spacing:0 }
ul { list-style: none;}
fieldset{border: 0;}


body {
    font-family: 'Gilroy','Noto Sans KR', sans-serif;
    color: #1b1b1b;
    font-size: 13px;
    min-width: 320px;
    line-height: 1.2em;
    height: 100%;
}